---
layout: news
title: News
permalink: /news
---

<main role="main" class="main news">
    <div class="container main-content">
        <h1 class="page-title">{{ page.title }}</h1>
        {% for post in site.posts %}
        <div class="row">
            <div class="news-section col-lg-8">
                <h3 class="news-title">{{ post.title }}</h3>
                <h5 class="news-date">{{ post.date | date_to_string }}</h5>
                {% if post.preview %}
                <p class="news-content">
                    {{ post.preview }}
                    <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
                </p>
                {% else %}
                <p class="news-content">{{ post.content }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
